/** @format */

.Exercise {
  display: flex;
}
.Exercise__Component,
.Exercise__Instructions {
  flex: 1 1 0;
  padding: 0.2em 0.4em;
}

.Exercise__Instructions {
  text-align: left;
  background-color: #eee;
  box-shadow: inset 0 0 0 1px #ccc;
}

.Exercise__Component {
}

.Exercise__Instructions::before,
.Exercise__Component::before {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 1em;
  display: block;
  text-align: left;
  border-bottom: 1px solid #111;
}
.Exercise__Instructions::before {
  content: 'Instrucciones';
}
.Exercise__Component::before {
  content: 'Resultado';
}
